@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base 
{
  :root 
  {
    --background: 248 88% 10%;
    --foreground: 0 0% 100%;
    --foreground-secondary: 0 0% 70%;

    --sidebar: 229 30% 11%;

    --card: 244 80% 8%;
    --card-2: 242 50% 11%;
    --card-3: 240 33% 18%;
    --card-4: 240 27% 28%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 155 88% 71%;
    --secondary-foreground: 282 100% 7%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base 
{
  ::-webkit-scrollbar 
  {
    width: 10px;
  }

  ::-webkit-scrollbar-track
  {
    background: theme('colors.card.3');
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb 
  {
    background: theme('colors.card.DEFAULT');
    border-radius: 6px;
  }

  * {
    @apply border-border;
  }

  body 
  {
    @apply bg-background text-foreground;
  }

  .main-layout 
  {
    display: grid;
    grid-template-columns: 285px 1fr;
  }
  
  .inner-layout 
  {
    display: grid;
    grid-template-columns: 1fr 500px;
  }
}

@layer utilities 
{
  .no-scrollbar::-webkit-scrollbar 
  {
    display: none;
  }
}
